body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
    background-image: url('asset/background.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
}

body section {
    padding-left: 100px;
    padding-right: 100px;
    background-color: transparent;
}

@media (max-width: 768px) {
    section {
        margin: 20px; /* Reduced margin for smaller screens */
    }
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    flex-grow: 1; /* Allow nav to grow within the available space */
    justify-content: flex-end; /* Align nav items to the right */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ddd;
}

#hero {
    text-align: center;
    margin: 20px 0;
}

#hero img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
}

#hero p {
    color: #fff;
}

#introduce {
    text-align: center;
    color:#fff
}

#introduce h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#introduce p {
    font-size: 1.2em;
}

#about {
    text-align: left;
    color:#fff
}

#about h2 {
    font-size: 2em;
    margin-bottom: 10px;;
}

#about p {
    font-size: 1.2em;
}

#info {
    text-align: left;
    color:#fff
}

#info h2 {
    font-size: 2em;
    margin-bottom: 10px;;
}

#info h3 {
    margin-bottom: -20px;;
}

#info li {
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #ddd;
}

