html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: #008080; 
}

.content {
    flex: 1;
}


body section {
    padding-left: 100px;
    padding-right: 100px;
    background-color: transparent;
}

body section a {
    color: #fff
}

body section a:hover {
    color: #ddd;
}

header {
    background-color: #000080;
    color: #fff;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ddd;
}

#hero {
    text-align: center;
    margin: 20px 0;
}

#hero img {
    max-width: 60%;
    height: auto;
    
}



#introduce {
    text-align: center;
}

#introduce h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#introduce p {
    font-size: 1.2em;
}

#about {
    text-align: left;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 10px;;
}

#about p {
    font-size: 1.2em;
}

#info {
    text-align: left;
}

#info h2 {
    font-size: 2em;
    margin-bottom: 10px;;
}

#info h3 {
    margin-bottom: -20px;;
}

#info li {
    font-size: 1.2em;
}

footer {
    background-color: #000080;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #ddd;
}

#changelog a {
    color: #fff;
}                                                                                                                                                                                                                       
#changelog a:hover {
    color: #ddd;
}

#linux {
    text-align: center;
    margin: 20px 0;
}

#linux img {
    max-width: 30%;
    height: auto;
    
}

#linux p {
    color: #fff;
}

#my-button {
    text-align: left;
    margin: 20px 0;
}

#my-button img {
    max-width: 88px;
    height: auto;
    
}

#button {
    text-align: center;
    margin: 20px 0;
}

#button img {
    max-width: 88px;
    height: auto;
    
}

#button p {
    color: #fff;
}


@media (max-width: 768px) {
    body section {
        padding-left: 20px;
        padding-right: 20px;
    }
    #hero img {
        max-width: 100%;
    }
    #linux img {
        max-width: 100%;
    }
    #introduce {
	font-size: 80%;
    }
}

#tools {
    text-align: left;
    color:#fff
}

#tools h2 {
    font-size: 2em;
    margin-bottom: 10px;;
}


#tools li {
    font-size: 1.2em;
    margin-left: 30px;
}

#server li {
    margin-left: 30px;
}

#friends li {
    margin-left: 30px;
}

#post {
    text-align: left;
    color:#fff
}

#post h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#post h3 {
    font-style:italic;
}

#post li {
    font-size: 1.5em;
}

#music_widget {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 50px;
}
