
@media (max-width: 768px) {
    body section {
        padding-left: 20px;
        padding-right: 20px;
    }
    #hero img {
        max-width: 100%;
    }
    #linux img {
        max-width: 100%;
    }
}

#post {
    text-align: center;
    color:#fff
}

#post h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#date {
    font-style:italic;
}

#post p {
    font-size: 1.2em;
}

#ipod1 {
    max-width: 50%;
}

#ipod2 {
    max-width: 50%;
}


@media (max-width: 768px) {
    body section {
        padding-left: 20px;
        padding-right: 20px;
    }
    #ipod1 {
        max-width: 100%;
    }
    #ipod2 {
        max-width: 100%;
    }
}
